<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/Blank Python Notebook.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Blank Python Notebook
A blank Colab notebook to work practice problems from my ["Python for Data Analytics Course"](https://www.youtube.com/watch?v=wUSDVGivd-8).

In [ ]:
!pip install -qq -U datasets
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

In [3]:
job_title1 = 'Data Engineer'
job_title2 = 'Data Scientist'
print(job_title1 is not job_title2)

True

In [4]:
job_locations = ['New York', 'San Francisco', 'Austin']
if 'New York' in job_locations:
  print('New York is in the list')

New York is in the list

In [5]:
print('New York' in job_locations)

True